/*Body*/
html, body {
    margin: 0;
    padding: 0;
}
body{

    
    font-family: "Poppins", sans-serif;
}

/*main*/
main{
    margin: 2% 2% 0 2%;
    min-height: 90vh;
    display:grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 2%;
}
/*Header*/
header{
    display: flex;
    width: 100%;
    height: 12vh;
    background-color: #9dfbf8;  
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: 1.5s;
}
.logo{
    max-width: 30%;
    max-height: 100%;
    
    align-self: center;
}
h1 {
    font-family:"Poppins",sans-serif;
    text-transform: uppercase;
    font-weight:bolder;
    font-size: 3em;
    color: #05948f;
    align-self: center;
    text-align: center;
    width: 80%;
}

.hidden{
    top: -27vh;
}

.card-wrapper{
    margin: 0 auto;
    width:100%;
    height: 50vh;
    float:left;
    text-align: center;
}

a {
    text-decoration: none;
}

/*This is changing the background image and the title/description of blocks*/
.first {

    background-image:url("../img/google.png");
    background-position: center;
    background-size:cover;
    color:#05948f;
    border-radius: 1em;
}
.first h2{
    margin:0 auto;
    padding-top:2%;
    background-color:white; 
    text-transform: uppercase; 
}


.first:hover{
    filter: grayscale(99);  
    
}
.second{
    background: #042f2f;
    color: #05948f;
    background-size:auto;
    display: block;
    border-radius: 1em;
    align-content: center;
    text-align: left;
}

.second h2{
    font-weight: 700;
    font-size: 2.5rem;
    padding: 0 0 0 1%;
    text-transform: uppercase;
}
.second p{
    font-weight: 550;
    font-size: 1.5rem;
    padding: 0 0 0 1%;
}
.third{
    background: #042f2f;
    color: #05948f;
    background-size:auto;
    display: block;
    border-radius: 1em;
    align-content: center;
    text-align: right;
}
.third h2{
    font-weight: 700;
    font-size: 2.5rem;
    padding: 0 1% 0 0;
    text-transform: uppercase;
}
.third p{
    font-weight: 550;
    font-size: 1.5rem;
    padding: 0 1% 0 0;
}
/*.third{
    background: #9dfbf8;
    color: #05948f;
    background-size:auto;
    display: block;
    border-radius: 1em;
}*/


.fourth{
    background-image:url("../img/spacexlogo.png");
    background-position: center;
    background-size:contain ;
    background-repeat: no-repeat;
    color:#05948f;
    border-radius: 1em;
}
.fourth h2{
    margin:0 auto;
    padding-top:2%;
    background-color:white; 
    text-transform: uppercase; 
}

.fourth:hover{
    filter: grayscale(99);  
    
}

.card-wrapper.fifth {

    background-image:url("../img/applelogo.png");
    background-position:center;
    background-size:30% 50%;
    background-repeat: no-repeat;
    color:#05948f;
    border-radius: 1em;
}
.card-wrapper.fifth h2{
    margin:0 auto;
    padding-top:2%;
    background-color:white; 
    text-transform: uppercase; 
}


.card-wrapper.fifth:hover{
    filter: grayscale(99);  
    
}
.card-wrapper.sixth{
    background: #042f2f;
    color: #05948f;
    background-size:auto;
    display: block;
    border-radius: 1em;
    align-content: center;
    margin-bottom: 2rem;
    text-align: left;
}

.card-wrapper.sixth h2{
    font-weight: 700;
    font-size: 2.5rem;
    padding: 0 0 0 1%;
    text-transform: uppercase;
}
.card-wrapper.sixth p{
    font-weight: 550;
    font-size: 1.5rem;
    padding: 0 0 0 1%;
}



/*footer*/
footer{
    margin-top: 4%;
    min-width: 100%;
    background-color: #9dfbf8;
    position: absolute;
    color:#05948f;
    font-weight: 600;
    
}
/*footer section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    
}*/
footer section{
    display: flex;
    padding:0 2%;
}

footer p{
    flex: 1;
    align-self: center;
}

footer img {
    display: block;
    height: 10%;
    width:10%;
}

/*@Media Queries*/



@media screen and (min-width: 481px) and (max-width: 768px) {
    main{
        display:flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
    }

    main a:first-of-type {
        display: flex;
        order: 1;
    }
    .second {
        text-align: center;

    }

    .card-wrapper.third{
        order:2;
        text-align: center;
        
    }
    main a:nth-of-type(2){
        display: flex;
        order:3;
    }

    .card-wrapper.sixth{
        order:4;
        text-align: center;
        
    }

    main a:nth-of-type(3){
        display: flex;
        order:5;
    }
    


    header {
        height: 8vh;
    }

    h1{
        font-size: 2em;
    }

    .second,
    .third,
    .card-wrapper.sixth{
        border-radius: 0%;
    }

    .second h2,
    .third h2,
    .sixth h2 {
        font-size: 2em;
        
    }

    .first p,
    .second p,
    .third p,
    .fourth p
    .fifth p,
    .sixth p {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    
    main{
        display:flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
    }

    main a:first-of-type {
        display: flex;
        order: 1;
    }
    .second{
        text-align: center;
    }

    .card-wrapper.third{
        order:2;
        text-align: center;
        
    }
    main a:nth-of-type(2){
        display: flex;
        order:3;
    }

        .card-wrapper.sixth{
        order:4;
        text-align: center;
        
    }

    main a:nth-of-type(3){
        display: flex;
        order:5;
    }

        header {
        height: 12vh;
    }

    h1{
        font-size: 1.7em;
    }

    .second,
    .third,
    .card-wrapper.sixth{
        border-radius: 0%;
    }

    .second h2,
    .third h2,
    .sixth h2 {
        font-size: 2em;
        
    }

    .first p,
    .second p,
    .third p,
    .fourth p
    .fifth p,
    .sixth p {
        font-size: 1.5em;
    }

    footer img {
    display: block;
    height: 25%;
    width:25%;
    padding: 0 0 0 10%;
}
}


