/*Header*/
header{
    display: flex;
    height: 12vh;
    background-color: aqua;  
}
.logo{
    max-width: 30%;
    max-height: 100%;
    margin-left:1%;
    align-self: center;
}
h1 {
    color: #000000;
    align-self: center;
    text-align: center;
    width: 80%;
}

.card-wrapper{
    margin: 0 auto;
    width:50%;
    height: 50vh;
    float:left;
    text-align: center;
}

/*This is changing the background image and the title/description of blocks*/
.first {
    background-image:url("../img/google.png");
    display: block;
    background-position: center;
    background-size:cover;
}

.second{
    background-image: url("../img/20201203_155941.jpg");
    background-size:auto;
    display: block;
}
.third{
    background-image: url("../img/20201203_155941.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
}

.fourth{
    background-image: url("../img/20201203_155941.jpg");
    background-size:fill;
    display: block;
}

