/*Body*/
body{

    
    font-family: "Poppins", sans-serif;
}

/*main*/
main{
    margin:2% 0;
    min-height: 90vh;
    display:grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 2%;
}
/*Header*/
header{
    display: flex;
    height: 12vh;
    background-color: #9dfbf8;  
    position:sticky;
    top: 0;
    z-index: 5000;
}
.logo{
    max-width: 30%;
    max-height: 100%;
    
    align-self: center;
}
h1 {
    font-family:"Poppins",sans-serif;
    font-weight:bolder;
    font-size: 3em;
    color: #05948f;
    align-self: center;
    text-align: center;
    width: 80%;
}

.card-wrapper{
    margin: 0 auto;
    width:100%;
    height: 50vh;
    float:left;
    text-align: center;
}

/*This is changing the background image and the title/description of blocks*/
.first {
    background-image:url("../img/google.png");
    background-position: center;
    background-size:cover;
    color:#05948f
    
    
}
.first h2{
    margin:0 auto;
    padding-top:2%;
    background-color:white;  
}
.first p{
    margin:0;
    background-color: white;
}

.first:hover{
    filter: grayscale(99);
    color:#05948f
    
}
.second{
    background: #9dfbf8;
    color: #05948f;
    background-size:auto;
    display: block;
}

.third{
    background: #9dfbf8;
    color: #05948f;
    background-size:auto;
    display: block;
}


.fourth{
    background-image: url("../img/20201203_155941.jpg");
    background-size:fill;
    display: block;
}

.fifth{
    background-image: url("../img/20201203_155941.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
}
.fifth:hover{
    filter: grayscale(90%);
}


/*footer*/
footer{
    margin-top: 4%;
    min-width: 100%;
    background-color: #05948f;
    position: absolute;
}