h1 {
    background-color: gray ;
    color: #000000;
    text-align: center;
    margin: 0;
    padding: 4vh;

}

.card-wrapper{
    margin: 0;
    width:50%;
    height: 50vh;
    float:left;
    text-align: center;
}

.first {
    background-image:url("../img/google.png");
    display: flex;
    
    
}

.second{
    background-image: url("../img/20201203_155941.jpg");
    background-size:auto;
    display: block;
}
.third{
    background-image: url("../img/20201203_155941.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
}

.fourth{
    background-image: url("../img/20201203_155941.jpg");
    background-size:fill;
    display: block;
}