/*
Author: {Smitty's Web Solutions} Diesel Digital Management
ProjectName: Google Clone

**********************************
TABLE OF CONTENTS


1. Font Faces
2. Nav styles
3. Header styles
4. Body Styles
5. Main/Article styles
6. Aside styles
7. footer styles
8. img styles
9. Paragraph styles

*********************************
*/


/*Nav Styles*/
/*Header Styles*/
/*Body Styles*/
/*Main/Article*/
main{
     margin:auto;
    min-height: 90vh;
    
}
/*Aside Styles*/
/*Footer Styles*/

footer{
    margin-top: 4%;
    min-width: 100%;
    background-color: #9dfbf8;
    position: absolute;
    color:#05948f;
    font-weight: 600;
    
}
footer section{
    display: flex;
    padding:0 2%;
}

footer p{
    flex: 1;
    align-self: center;
}

footer img {
    display: block;
    height: 10%;
    width:10%;
}
/*Image Styles*/
/*Paragraph Styles*/