/*
Author: {Smitty's Web Solutions} Diesel Digital Management
ProjectName: Google Clone

**********************************
TABLE OF CONTENTS


1. Font Faces
2. Nav styles
3. Header styles
4. Body Styles
5. Main/Article styles
6. Aside styles
7. footer styles
8. img styles/video
9. Paragraph styles

*********************************
*/


/*Nav Styles*/


/*Header Styles*/
header{
    width: 100%;
    position: fixed;
    z-index: 100000;
    display: flex;
    top: 0;
    transition: top 0.9s ;
}
.header.hidden{
    top:-100px;
}
a{ /*This is for all the anchor tags*/
    text-decoration: none;
    color: inherit;
}
.logo{/*This is the logo section in header*/
    width: 15%;
    
}
.logo > img{ /*this is the img of the header*/
    height: 75px;
    padding-left: 3rem;
}

.nav-menu{ /*this is dealing with the section related to the nav*/
    width: 62%;
    align-content: center;
}
.nav-menu ul{/*this changes the ul of the nav menu*/
    display: flex;
    list-style-type: none;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(240, 240, 250, .9);
    text-transform: uppercase;
}
.nav-menu li{ /*This adjusts the nav li  */
    padding-right: 1.9rem;
    
}
.nav-items > ul { /*needed this to fix the hidden li items since it was inheirt from the main nav*/
    display: block !important;          /* override the parent flex */
    position: absolute;                 /* dropdown positioning */
    flex-direction: column !important;  /* vertical stacking */
    list-style: none;
    padding:0;
    margin: 0;
}
.menu2 {
    display: block !important;          /* override the parent flex */
    position: absolute;                 /* dropdown positioning */
    flex-direction: column !important;  /* vertical stacking */
    list-style: none;
    padding: 0;
    margin: 0;
}

.vehicles-sub{/*this makes it so the sub cat doesnt show auto*/
    display: none;
    padding: 0.25rem 0 0.25rem 0;
}

.company-sub{ /*this makes it so the sub cat doesnt show auto*/
    display: none;
    padding: 0.25rem 0 0.25rem 0;
    
} 
.show-sub {
    display: block !important;
}
.upcoming-events{
    position: relative;
    width: 20%;
    align-content: center;
    text-align: right;
}

.dropdown-card {
    display: none;
    position: absolute;
    flex-direction: column;   /* makes all child cards stack vertically */
    width: 100%;
}

.show-card {
    display: flex !important; /* show AND become a flex column */
    flex-direction: column;
    
}

.dropdownimg img {
    height: 60px;
    object-fit: cover;
    padding: 0.5rem 0 0 1rem;
}

.card1,
.card2 {
    display: flex;
    position: relative; /* replace absolute to keep natural stacking */
    padding: 0;
    margin-left: 8.7rem; /*this plus width makes it so the cards sit right under upcoming launches*/
    background-color: rgba(0, 0, 0, .35);
    width:63%;/*this plus margin-left makes it so the cards sit right under upcoming launches*/
}


.card-content h3 {
    font-size: 0.7 rem;
    font-weight: 400;
    color: rgba(240, 240, 250, .9);
    font-family: "Roboto", sans-serif;
    padding: 1rem 0 0 1rem;
    margin: 0;
    text-align: left;
}
.card-content p {
    font-size: .7rem !important;
    color: rgba(240, 240, 250, .9);
    font-family: "Roboto", sans-serif;
    padding: 0 0 0 1rem;
    margin: 0;
    text-align: left;
}
.card-content2 h3 {
    font-size: 0.7 rem;
    font-weight: 400;
    color: rgba(240, 240, 250, .9);
    font-family: "Roboto", sans-serif;
    padding: 1rem 0 0 1.2rem ;
    margin: 0;
    text-align: left;
}
.card-content2 p {
    font-size: .7rem !important;
    color: rgba(240, 240, 250, .9);
    font-family: "Roboto", sans-serif;
    padding: 0 0 0 1.2rem;
    margin: 0;
    text-align: left;
}





/*Body Styles*/
.hero h2{
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    text-transform:uppercase;
    letter-spacing: .02em;
    font-family: "Roboto", sans-serif;
    max-width: 40%;

}
.hero2 h2{
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    text-transform:uppercase;
    letter-spacing: .02em;
    font-family: "Roboto", sans-serif;
    max-width: 40%;
    margin-left: 60%;

}

.hero3 h2{
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    text-transform:uppercase;
    letter-spacing: .02em;
    font-family: "Roboto", sans-serif;
    max-width: 40%;
    margin-left: 60%;

}

/*Main/Article/section/*/



/*Aside Styles*/
/*Footer Styles*/

footer{
    /*margin-top: 4%;*/
    min-width: 100%;
    background-color: #9dfbf8;
    position: absolute;
    color:#05948f;
    font-weight: 600;
    
}
footer section{
    display: flex;
    padding:0 2%;
}

footer p{
    flex: 1;
    align-self: center;
}

footer img {
    display: block;
    height: 10%;
    width:10%;
}
/*Image Styles/Video*/


/*Paragraph Styles*/
.hero p{
    max-width: 40%;
    margin-top: 1%;
    font-size: 1rem;
    line-height: 1.6;
    font-style: normal;
    font-weight: 400;
    text-transform:uppercase;
    letter-spacing: .02em;
    font-family: "Roboto", sans-serif;
}

.hero2 p{
    margin-left: 60%;
    margin-top: 1%;
    font-size: 1rem;
    line-height: 1.6;
    font-style: normal;
    font-weight: 400;
    text-transform:uppercase;
    letter-spacing: .02em;
    font-family: "Roboto", sans-serif;
    
}

.hero3 p{
    margin-left: 60%;
    margin-top: 1%;
    font-size: 1rem;
    line-height: 1.6;
    font-style: normal;
    font-weight: 400;
    text-transform:uppercase;
    letter-spacing: .02em;
    font-family: "Roboto", sans-serif;
    
}
/*Classes*/
.hero {
    height: 100vh;
    width:100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}



.hero video {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    object-fit: cover;
}

.hero .content{
    position: relative;
    z-index: 20;
    color:  rgba(240, 240, 250, .9);
    text-align: left;
    padding-left: 15rem;
}




.hero2 {
    height: 100vh;
    width:100%;
    background: red;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    background-image: url("../img/pexels-spacex-586040.jpg");
    background-size:auto;
    background-position:right;
    
}



.hero2 video {
    
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    object-fit: cover;
    
}

.hero2 .content2{
    text-align: right;
    z-index: 20;
    color:  rgba(240, 240, 250, .9);
    padding-right: 15rem;
    
}

.hero3 {
    height: 100vh;
    width:100%;
    background: red;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    background-image: url("../img/pexels-cottonbro-7169844.jpg");
    background-size:auto;
    background-position:right;
    
}




.hero3 .content3{
    text-align: right;
    z-index: 20;
    color:  rgba(240, 240, 250, .9);
    padding-right: 15rem;
    
}


/*Button*/

button{
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    border: 1px solid rgba(240, 240, 250, .35);
    background-color:rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color:  rgba(240, 240, 250, .9);
    height: 48px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
}

button::after{
    content: '→';
    padding-left: 1rem;
    font-weight: bold;
}

.hero-button:hover{
    background-color:  rgba(240, 240, 250, .9);
    color: black;
}

/*@media queries*/

@media screen and (min-width: 481px) and (max-width: 768px) {
    header{
        display:none;
    }

    .hero .content{
        width: 100%;
        padding: 0 2% 2% 2%;
        align-self: flex-end;
        background-color: rgba(0, 0, 0,.82);

    }

    .hero2{
        background-position: center top;
    }
    .hero2 .content2{
        width: 100%;
        padding: 0 2% 2% 2%;
        text-align: left;
        align-self: flex-end;
        background-color: rgba(0, 0, 0,.82);
        
    }

    .hero3{
        background-position: center;
    }

    .hero3 .content3{
        width: 100%;
        padding: 0 2% 2% 2%;
        align-self: flex-end;
        text-align: left;
        background-color: rgba(0, 0, 0,.82);
        
    }

    .hero h2{
        max-width: 100%;
        margin: 0;
        font-size: 1.75rem;
    }
    .hero p{
        max-width:100%;
        text-transform: none;
        font-size: .75rem;
    }

    .hero2 h2{
        margin: 0;
        max-width: 100%;
        font-size: 1.75rem;
    }

    .hero2 p{
        margin:0;
        font-size: .75rem;
        text-transform: none;
    }

    .hero3 h2 {
        max-width: 100%;
        margin: 0;
        font-size: 1.75rem;
    }

    .hero3 p{
        margin:0;
        font-size: .75rem;
        text-transform: none;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    header{
        display:none;
    }
    .hero{
        overflow: hidden;
    }

    .hero .content{
        width: 100%;
        padding: 0 2% 2% 2%;
        align-self: flex-end;
        background-color: rgba(0, 0, 0,.82);

    }

    .hero2{
        background-position: center top;
        overflow: hidden;
    }
    .hero2 .content2{
        width: 100%;
        padding: 0 2% 2% 2%;
        text-align: left;
        align-self: flex-end;
        background-color: rgba(0, 0, 0,.82);
        
    }

    .hero3{
        background-position: center;
        overflow: hidden;
    }

    .hero3 .content3{
        width: 100%;
        padding: 0 2% 2% 2%;
        align-self: flex-end;
        text-align: left;
        background-color: rgba(0, 0, 0,.82);
        
    }

    .hero h2{
        max-width: 100%;
        margin: 0;
        font-size: 1.75rem;
    }
    .hero p{
        max-width:100%;
        text-transform: none;
        font-size: .75rem;
    }

    .hero2 h2{
        margin: 0;
        max-width: 100%;
        font-size: 1.75rem;
    }

    .hero2 p{
        margin:0;
        font-size: .75rem;
        text-transform: none;
    }

    .hero3 h2 {
        max-width: 100%;
        margin: 0;
        font-size: 1.75rem;
    }

    .hero3 p{
        margin:0;
        font-size: .75rem;
        text-transform: none;
    }

}