/*
Author: {Smitty's Web Solutions} Diesel Digital Management
ProjectName: Google Clone

**********************************
TABLE OF CONTENTS


1. Font Faces
2. Nav styles
3. Header styles
4. Body Styles
5. Main/Article styles
6. Aside styles
7. footer styles
8. img styles
9. Paragraph styles

*********************************
*/


/*Nav Styles*/
/*Header Styles*/
/*Body Styles*/
/*Main/Article*/
/*Aside Styles*/
/*Footer Styles*/
/*Image Styles*/
/*Paragraph Styles*/