/*
Author: {Smitty's Web Solutions} Diesel Digital Management
ProjectName: Google Clone

**********************************
TABLE OF CONTENTS


1. Font Faces
2. Nav styles
3. Header styles
4. Body Styles
5. Main/Article styles
6. Aside styles
7. footer styles
8. img styles/video
9. Paragraph styles

*********************************
*/


/*Nav Styles*/
/*Header Styles*/

.hero h2{
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    text-transform:uppercase;
    letter-spacing: .02em;

}
/*Body Styles*/
/*Main/Article/section/*/



/*Aside Styles*/
/*Footer Styles*/

footer{
    margin-top: 4%;
    min-width: 100%;
    background-color: #9dfbf8;
    position: absolute;
    color:#05948f;
    font-weight: 600;
    
}
footer section{
    display: flex;
    padding:0 2%;
}

footer p{
    flex: 1;
    align-self: center;
}

footer img {
    display: block;
    height: 10%;
    width:10%;
}
/*Image Styles/Video*/
/*Paragraph Styles*/
/*Classes*/
.hero {
    height: 90vh;
    width:100%;
    background: red;
    display: flex;
    align-items: center;
    overflow: hidden;
}



.hero video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    object-fit: cover;
}

.hero .content{
    position: relative;
    z-index: 20;
    color: aliceblue;
    text-align: left;
}


